<%- include("../partials/header") -%>
<link rel="stylesheet" href="../css/main.css">

        <div class="module-header">
            <h4 class="module-title">Serie toevoegen</h4>
        </div>
        
        <form action="/series/new" method="post">
            <input type="submit" value="Toevoegen">
        </form>

<%- include("../partials/footer") -%>