<%- include("../partials/header") -%>

<div class="module-header">
    <h4 class="module-title">Seeder operation</h4>
</div>

<script src="/js/seeder.js"></script>
<%- include("../partials/footer") -%>